#info-bar{
	background:#000;
	color:#fff;	
}

#logo{
	background:url('../images/logo2.png') no-repeat;
	text-indent:-9999px;
	height: 100px;
}

#masthead{
	border-bottom:12px solid #000;
}

.slideshow_container.slideshow_container_style-light{
	height:252px;
}